body {
    text-align: center;
    font-family: monospace;
    background-color: #dcc13cc9;
    animation: morphBackground 30s infinite forwards;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

@keyframes morphBackground {
    0% {
        background-color: #95917dc9;
    }

    25% {
        background-color: #accadf;
    }

    50% {
        background-color: #6af847b7;
    }

    75% {
        background-color: #3498db;
    }

    100% {
        background-color: #dcc13cc9;
    }
}

:root {
    --primary-bg-color: #3498db;
    --secondary-bg-color: #e74c3c;
    --text-color: #ffffff;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#clickArea {
    font-size: 24px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    transition: background-color 0.2s;
    cursor: pointer;
    background-color: var(--primary-bg-color);
    padding: 50px;
    max-width: 600px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px #3f3f3f95;
}

#clickArea:hover {
    background-color: var(--secondary-bg-color);
}

#clickArea.clicked {
    background-color: var(--secondary-bg-color);
}

#clickArea.clicked:hover {
    background-color: var(--secondary-bg-color);
}

#clickCount {
    font-size: 36px;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    color: var(--text-color);
}

#highScore {
    font-size: 24px;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    color: #333;
}

#timerText {
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    color: var(--text-color);
}

#buttonContainer {
    text-align: center;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#profileButton {
    font-family: monospace;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#profileButton:hover {
    background-color: var(--secondary-bg-color);
}

#resetButton {
    display: none;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: var(--secondary-bg-color);
}

@media (max-width: 600px) {
    #clickArea {
        font-size: 18px;
    }

    #clickCount {
        font-size: 24px;
    }
}
